<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--REVISAR SI BOOTSTRAP ES NECESARIO!!!!!!!!-->
    <!--BOOTSTRAP 4-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body>
    <h1>Catalogue server is on</h1>
    <p>Go to http://localhost:3000</p>
</body>

</html>