body {
  margin: 0;
  font-family: Scout,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Scout,sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

p {
  opacity: .7;
}

a:hover{
  color: #17ae8e;
}

.nav {
  background-color: #353745;
  font-weight: 500;
}

.nav-link {
  color:white;
  opacity: .7;
}

.nav-link.active {
  background-color: #17ae8e !important;
}

.catalogue{
  display:block;
  padding: 40px;
}

.catalogue-header {
  width: 100%;
  margin: 50px 0 0 0;
  position:relative;
  left: 50%;
  text-align:center;
  transform:translate(-50%, -50%);
  text-transform: uppercase;
}

.col-personalized {
  padding-bottom: 20px;
}

.card {
  height: 100%;
  background-color: #f6f6f6;
  border-radius: .8rem;
  box-shadow: -2px 7px 12px 0 rgba(0,0,0,.12);
  border: 5px solid #f6f6f6;
  transition: all 375ms linear;
}

.card-img-personalized {
  padding:20px;
  height: 50%;
}

.phone-img{
  max-height:100%;
  padding:10px;
}

.card-body-personalized{
  box-sizing: border-box;
  align-items:flex-start
}

.card-footer-personalized {
  background-color: rgba(255, 255, 255,0.0);
  border:none;
  align-items:flex-end
}

.text {
  width: 100%
}

.line-title {
  margin-bottom: 15px;
  width: 50%;
  height: 4px;
  background-color: #17ae8e;
  margin-left:auto;
  margin-right: auto;
}
.line-card {
  margin-bottom: 30px;
  width: 40%;
  height: 4px;
  background-color: #17ae8e;
}

.btn-link {
  color:  rgba(23,174,142,.8);
  text-transform: uppercase;
  font-weight: 500;
  font-size:15px;
}

.btn-add {
   color: #17ae8e; 
   border-color: #17ae8e; 
}

.btn-add:hover {
  background-color:#17ae8e;
   border-color: #17ae8e; 
}
.footer {
  background-color: #353745;
  color: white;
  text-align: center;
  padding:5px;
}

.wrapper {
  display:contents;
}

@media screen and (min-width: 0px) and (max-width: 550px) {
  .wrapper{
    display: block;
  }
}

.spinner-border {
  margin:auto;
  margin-top:10rem;
  display:block;
  padding: 25px;
}
